---
layout: default
title: Blog Archive
banner_image: /images/placeholder-img.jpg
seo:
  title:
  description:
  keywords:
---

<!------------------ Banner ------------------>
<section class="grid-middle-center center banner height-70 bg-overlay" style="background-image:url('{{page.banner_image}}')">
    <div class="col-10">
        <h2 class="editable"> COUNSELING | THERAPY <br> PERSONAL DEVELOPMENT </h2>
        <h3 class="editable"> There is no greater agony than bearing an untold story inside you. </h3>
        <a href="/Services" class="button"> More </a>
    </div>
</section>

<!------------------ Content ------------------>

<!------------------------ Blog loop ------------------------>
<section class="padded archive">
    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2 class="editable"> Blog Archive </h2>
        <p class="editable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>
    <div class="capped-width grid">
        {% for post in site.posts limit:100 %}
        <div class="col-6_md-12 padded-2 sm-padded-1">
            <a class="post-item" href="{{ post.url }}">
                <div class="grid">
                    <div class="col-3-middle">
                        <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
                    </div>
                    <div class="col-9-middle padded-1">
                        <h4 class="margin-t-1 margin-b-1 subtle-heading-xs"> {{ post.title }} </h4>
                        <p class="subtitle hide-xs"> {{ post.description }} </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% include footer.html %}