---
layout: default
title: Services

individual-therapy_image: /images/placeholder-img.jpg
philosophical-advisor_image: /images/placeholder-img.jpg
psyco-oncology_image: /images/placeholder-img.jpg
personal-development_image: /images/placeholder-img.jpg
art-therapy_image: /images/placeholder-img.jpg
therapy-through-text_image: /images/placeholder-img.jpg
---

{% include banner.html %}

<section class="capped-width-wide grid-middle-center padded">
    <div class="col-8_md-10_sm-12 padded center">
        <h3 class="editable"> Lorem Ipsum </h3>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia nulla unde quos nemo accusamus non, nam, incidunt nihil sed repellat laborum ipsum, id facere aliquid temporibus repellendus perferendis optio neque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laborum hic molestiae. Maxime illum tenetur accusamus mollitia, nobis sed inventore animi molestiae, recusandae perferendis natus, non sint quidem ratione earum? </p>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.individual-therapy_image}}')"></div>
    </div>
    <div class="col-5_md-6_xs-12 padded">
        <h4 class="editable"> Individual Therapy </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/individual-therapy.html" class="subtle-button"> Read More </a>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-5_md-6_xs-12 swap padded">
        <h4 class="editable"> Philosophical Advisor </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/philosophical-advisor.html" class="subtle-button"> Read More </a>
    </div>
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.philosophical-advisor_image}}')"></div>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.psyco-oncology_image}}')"></div>
    </div>
    <div class="col-5_md-6_xs-12 padded">
        <h4 class="editable"> Psycho-Oncology </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/psycho-oncology.html" class="subtle-button"> Read More </a>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-5_md-6_xs-12 swap padded">
        <h4 class="editable"> Personal Development </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/personal-development.html" class="subtle-button"> Read More </a>
    </div>
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.personal-development_image}}')"></div>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.art-therapy_image}}')"></div>
    </div>
    <div class="col-5_md-6_xs-12 padded">
        <h4 class="editable"> Art Therapy </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/art-therapy.html" class="subtle-button"> Read More </a>
    </div>
</section>

<section class="capped-width-wide grid-middle-center padded sm-padded-tb">
    <div class="col-5_md-6_xs-12 swap padded">
        <h4 class="editable"> Therapy through text </h4>
        <p class="editable"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora ipsum consequuntur iure, reiciendis similique cupiditate. Dolorem ratione vel amet molestias, veniam tempora, voluptatem facilis, deleniti veritatis expedita saepe? Adipisci, quod?</p>
        <a href="/services/text-therapy.html" class="subtle-button"> Read More </a>
    </div>
    <div class="col-4_md-5_xs-12 padded">
        <div class="square-img xs-landscape" style="background-image:url('{{page.therapy-through-text_image}}')"></div>
    </div>
</section>

{% include footer.html %}