* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; height: auto; }

[class*=col] { padding: 0; }
[class*="grid-"], [class*="grid_"], [class~="grid"] { margin: 0; }

html { scroll-behavior: smooth;}

section { position: relative; }

/******************** Utility Classes ********************/

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1200px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }

.height-100 { min-height: 100vh;}
.height-90  { min-height: 90vh;}
.height-80  { min-height: 80vh;}
.height-70  { min-height: 70vh;}
.height-60  { min-height: 60vh;}
.height-50  { min-height: 50vh;}
.height-40  { min-height: 40vh;}
.height-30  { min-height: 30vh;}

/******************** Padding ********************/

.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-bottom: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-bottom: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-bottom: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-bottom: 0; }

/******************** Margin ********************/

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/******************** Typography Style ********************/

/* Fonts: Open Sans (300-800), Spartan (100-900), Bitter (100-900) */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }

body {
    font-family: 'Open Sans', sans-serif;
    color: #c6d1db;
    font-weight: 300;
}

h1 {
    font-family: "Spartan", sans-serif;
    line-height: 1.1;
    font-weight: 100;
}

h2 {
    line-height: 1.1;
    margin-bottom: 3rem;
    font-family: "Spartan", sans-serif;
    font-weight: 100;
}

h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 3rem;
    font-family: "Spartan", sans-serif;
    font-weight: 100;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 3.1rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.5rem;}

p, li {
    line-height: 1.6; 
    margin-bottom: 1.4rem;
    font-size: 1.1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child { margin-bottom: 0; }

.emphasize {
    font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.signature {
    line-height: 1.6;
    font-size: 1rem;
    padding-top: 1rem;
}

.testimonial {
    font-size: 3rem;
}

/******************** Image Style ********************/

.bg-image {
    background-color: #202a3f;
    background-image: url('https://source.unsplash.com/8Ogfqvw15Rg/1600x1600');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.background-img {
    background-image: url("/images/background-img.jpg");
    background-position: top;
    background-size: cover;
    background-color: #202a3f;
    background-attachment: fixed;
}

.about-image {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    padding-bottom: 125%;
    background-color: #202a3f;
}

.services-image {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    background-color: #202a3f;
}

.square-img {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
    background-color: #202a3f;
}

a.bg-image { display: block;}

.wide-landscape { padding-bottom: 30%; }
.landscape     { padding-bottom: 66% ; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

/******************** Links and Buttons ********************/

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

a:hover {
    color: #2869a8;
}

.button {
    display: inline-block;
    font-family: "Bitter", serif;
    color: #202a3f;
    font-size: 0.9rem;
    font-weight: 400;
    border: 1.5px solid #c6d1db;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    background-color: #c6d1db;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    background-color: #2869a8;
    color: #c6d1db;
    border: 1.5px solid #2869a8;
}

.subtle-button { border-bottom: 1px solid; }

/******************** Dropdown Menu ********************/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -0.4rem;
    padding:0.5rem;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    z-index: 2;
    min-width: 13rem;
}

.dropdown:hover .dropdown-content { display: block; }

.dropdown-content a {
    display: block;
    margin-bottom: 0.5rem;
}

/******************** Burger Menu ********************/

.burger {
    display: none;
    outline: none;
    height: 20px;
    width: 15px;
    border: 0px;
    padding: 0px;
    padding-top: 2px;
    background: transparent;
    transition: all 400ms ease-out;
    cursor: pointer;
}
.burger:before, .burger:after {
    content: '';
    width: 15px;
    height: 2px;
    position: absolute;
    background: #c6d1db;
    transition: all 400ms ease-out;
    will-change: transform;
}
.burger:before {
    transform: translateY(6px);
}
.burger:after {
    transform: translateY(13px);
}
.active.burger:before {
    transform: translateY(10px) rotate(45deg);
}
.active.burger:after {
    transform: translateY(10px) rotate(-45deg);
}
.mobile-menu { display: none; }
.mobile-menu a { margin: 1vh 10%; }
.mobile-menu hr {
    margin-left: 10%;
    color: #8080805c;
}

.dropdown-content-burger { margin-left: 4vh; }

/******************** Nav ********************/

header {
    position: absolute;
    width: 100%;
    background-color: #00000000;
    z-index: 1;
}
header nav a { padding: 0 0.3rem; }
header a { display: inline-block;}

.bg-overlay {
    position: relative;
    z-index: 0;
}

.bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -2;
}

.logo {
    max-width: 190px;
    padding-top: 7.5px;
}

.banner {
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #202a3f;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
    background-color: #202a3f;
}

footer nav a { padding: 0 0.3rem; }
footer a { display: inline-block;}

/******************** Contact Section ********************/

form input, form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid #b9b9b9;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: all 0.2s;
}

form input:focus, form textarea:focus {
    border-color: #03060D;
}

textarea {
    min-height: 5rem;
    resize: vertical;
}

form label {
    margin-top: 1rem;
    display: block;
    color: inherit;
    padding-left: 0.1rem;
}

form button {
    font-family: "Bitter", serif;
    font-size: 0.9rem;
    border: 1.5px solid #c6d1db;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    background-color: #c6d1db;
    cursor: pointer;
    transition: all 0.2s;
}

form button:hover {
    background-color: #2869a8;
    color: #c6d1db;
    border: 1.5px solid #2869a8;
}

.contact-form {
    border: 2px solid #b9b9b9;
    padding: 7% 13%;
    background-color: #c6d1db;
    color: #03060D;
}

.contact-form-box {
    border: none;
    border-bottom: 1px solid #b9b9b9;
    transition: 0.3s all;
    padding: 0.8rem 0.5rem;
    margin: 1rem 0;
}

.contact-form-text {
    border: none;
    border-bottom: 1px solid #b9b9b9;
    resize: vertical;
    min-height: 2rem;
    height: 7rem;
    margin: 1rem 0;
}

.contact-form > button {
    margin-top: 2rem;
    border: 1.5px solid #2869a8;
}

/******************** Blog ********************/

/* Individual Elements */

.post-info { font-size: 0.8rem; }

/* Individual Blog Post Pages  */
.blog-content h1 {
    font-family: 'Bitter', serif; 
    font-weight: 200;
    font-size: 3rem;
}

.blog-content p {
    line-height: 1.6;
}

.blog-content hr {
    border: none;
    border: 1px solid #c6d1db;
}

/* Miscelaneous elements  */
hr.short {
    border: 1px solid #c6d1db;
    width: 4rem;
    margin: 1rem 0;
}

hr.short.center { margin: 1rem auto; }

.social-btn {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.social-btn a {
    display: inline-block;
    padding: 0 0.3rem;
}

.copyright {
    background-color: rgb(80,80,85);
    color: antiquewhite;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #202a3f;
    height: 20vh;
}

/******************** Responsive Styles ********************/

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */

@media (max-width: 64em) {

    .show-md { display: block; }
    .hide-md { display: none;  }

    html { font-size: 0.9rem; }

}

/* ------- SM Media Query (48em / 768px) --------------- */

@media (max-width: 48em) {
    .show-sm { display: block; }
    .hide-sm { display: none;  }

    h2 {font-size: 2.6rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 0.9rem;}
    p  {font-size: 1rem;  }
    .emphasize { font-size: 1.1rem; }

    .sm-square { padding-bottom: 100%;}
	 
    header {
        background-color: #202a3f;
        position: fixed;
    }

    .sm-padded { padding: 0 1rem; }
    .sm-padded-tb { padding: 5% 0; }
    .contact-form-box { padding: 0.5rem; }
    .contact-form-text { height: 4rem; }

    .mob-hide { display: none;}
    .mob-show { display: inline-flex;}
}

/* ------- XS Media Query (36em / 576px) --------------- */

@media (max-width: 36em) {
    .show-xs { display: block; }
    .hide-xs { display: none;  }

    html { font-size: 0.8rem; }
    h1 {font-size: 1.3rem;}
    h2 {font-size: 1.5rem;}
    h3 {font-size: 1.2rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 0.9rem;}
    p  {font-size: 1rem;  }
    .testimonial { font-size: 1.5rem; }

    .xs-landscape { padding-bottom: 50%;}
    .xs-square { padding-bottom: 100%;}

    .xs-padded { padding: 0; }
    .xs-padded-t { padding-top: 3rem;}
    .xs-margin-t { margin-top: 3rem;}
    .xs-margin-b { margin-bottom: 3rem;}
    .contact-form { padding: 5% 7%;}
    .logo { max-width: 31vw; }

    .banner { background-attachment: scroll;}
    .background-img {
        background-attachment: scroll;
        background-size: contain;
    }

    .xs-height-70 { min-height: 70vh;}
    video {
        height: 70vh;
        margin-left: 50vw;
        transform: translate(-50%);
    }

    .xs-center { text-align: center; }

    .swap { order: 2;}

}