<!------------------------- Small contact form ------------------------->
<section class="capped-width-narrow grid-middle-center">
    <div class="col-6_xs-12 padded">
        <h2 class="editable">
            Let's talk!
        </h2>
        <p class="editable">
            Change and Transformation are my passion and expertize
        </p>
        <a href="tel:+40{{site.data.site-settings.social.phone_number}}" class="subtle-button" target="_blank"> +40{{site.data.site-settings.social.phone_number}} </a> <br />
        <a href="mailto:{{site.data.site-settings.social.email_address}}" class="subtle-button" target="_blank"> {{site.data.site-settings.social.email_address}} </a>
        <div class="social-btn">
            <a href="https://wa.me/40{{site.data.site-settings.social.phone_number}}" target="_blank"> <i class="fa-brands fa-whatsapp"></i> </a> 
            <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>

        </div>
        <a href="/Cookie-GDPR" class="subtle-button"> Privacy Policy </a>
    </div>
    <div class="col-6 padded hide-xs">
        <form action="https://formspree.io/f/mayvdvko" method="POST">
            <input type="text" name="_firstname" id="_firstname" placeholder="Name" required />
            <input type="email" name="_replyto" id="_replyto" placeholder="Email" required />
            <textarea name="_message" id="_message" placeholder="Message" required></textarea>
            <button type="submit"> Send </button>
        </form>
    </div>
</section>

<!------------------------- Footer ------------------------->
<footer class="grid-middle padded-05 padded-lr">
    <div class="col-4_xs-12-middle xs-center">
        <a href="/">
            <img class="logo" src="/images/logo.png"> </img>
        </a>
    </div>
    <div class="col-8_xs-12 right xs-center">
        <nav>
            <a href="/"> Home </a>
            <a href="/About"> About </a>
            <a href="/Services"> Services </a>
            <a href="/Blog"> Blog </a>
            <a href="/Contact"> Contact </a>
        </nav>
    </div>
</footer>
<section class="grid-center padded-05 copyright">
    <h5 class="col-12 center"> Copyright &#169 2024 Lucian Baba | Website by ALLACreativeStudio </h5>
</section>
