<!------------------------- Small contact form ------------------------->
<section class="capped-width-narrow grid-middle-center">
    <div class="col-6_xs-12 padded">
        <h2 class="editable">
            Nu ezita sa ne contactezi!
        </h2>
        <p class="editable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, reprehenderit rem? Cum quo porro laudantium!
        </p>
        <a href="tel:+40{{site.data.site-settings.social.phone_number}}" class="subtle-button" target="_blank"> +40{{site.data.site-settings.social.phone_number}} </a> <br />
        <a href="mailto:{{site.data.site-settings.social.email_address}}" class="subtle-button" target="_blank"> {{site.data.site-settings.social.email_address}} </a>
        <div class="social-btn">
            <a href="https://wa.me/40{{site.data.site-settings.social.phone_number}}" target="_blank"> <i class="fa-brands fa-whatsapp"></i> </a> 
            <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
            <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>

        </div>
        <a href="/Cookie-GDPR/RO" class="subtle-button"> Politica de Confidentialitate </a>
    </div>
    <div class="col-6 padded hide-xs">
        <form action="" method="POST">
            <input type="text" name="_name" id="_name" placeholder="Nume" required />
            <input type="email" name="_replyto" id="_replyto" placeholder="Email" required />
            <textarea name="message" id="message" placeholder="Mesaj" required></textarea>
            <button type="submit"> Trimite </button>
        </form>
    </div>
</section>

<!------------------------- Footer ------------------------->
<footer class="grid-middle padded-05 padded-lr">
    <div class="col-4_xs-12-middle xs-center">
        <a href="/RO">
            <h1> Lucian Baba </h1>
        </a>
    </div>
    <div class="col-8_xs-12 right xs-center">
        <nav>
            <a href="/RO"> Acasa </a>
            <a href="/Despre"> Despre </a>
            <a href="/Servicii"> Servicii </a>
            <a href="/Blog/RO"> Blog </a>
            <a href="/Contact/RO"> Contact </a>
        </nav>
    </div>
</footer>
<section class="grid-center padded-05 copyright">
    <h5 class="col-12 center"> Copyright &#169 2022 Lucian Baba | Website by ALLACreativeStudio </h5>
</section>
