<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>{{page.title}}</title>

        <!-- Gridlex -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" integrity="sha512-mcltC6QZExHxnvuAZy/ESE5S7OCdAx8lkkBBGjUKDqdtCLraHJqMuTGl11tffoyInmG92Fhn+MJvEKavBVZ6eQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <!------------------------- Nav bar ------------------------->
    <header class="grid">
        <div class="col-3">
            <a href="/index.html">
                <h1> Lucian Baba </h1>
            </a>
        </div>
        <div class="col-2">
            <a href="/ro/index.html"> RO </a> | <a href="/index.html"> EN </a>
        </div>
        <div class="col-7">
            <nav>
                <a href="/index.html"> Home </a>
                <a href="/about.html"> About </a>
                <a href="/services.html"> Services </a>
                <a href="/blog.html"> Blog </a>
                <a href="/contact.html"> Contact </a>
            </nav>
        </div>
    </header>

    <!------------------------- Body ------------------------->
    <body>

        {{content}}


        <!------------------------- Small contact form ------------------------->
        <section class="grid">
            <div class="col-6">
                <h2> Let's talk! </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, reprehenderit rem? Cum quo porro laudantium! </p>
                <a href="tel:+40731234567"> +40731 234 567</a>
                <a href="mailto:lucianbaba@gmail.com"> lucianbaba@gmail.com </a>
            </div>
            <div class="col-6">
                <form action="contact.php" method="post">
                    <input type="text" name="_name" id="_name" placeholder="Name" required />
                    <input type="email" name="_replyto" id="_replyto" placeholder="Email" required />
                    <textarea name="message" id="message" placeholder="Message" required></textarea>
                    <button type="submit"> Send </button>
                </form>
            </div>
        </section>

        <!------------------------- Footer ------------------------->
        <footer>
            <section class="grid">
                <div class="col-4">
                    <a href="/index.html">
                        <h1> Lucian Baba </h1>
                    </a>
                </div>
                <div class="col-8">
                    <nav>
                        <a href="/index.html"> Home </a>
                        <a href="/about.html"> About </a>
                        <a href="/services.html"> Services </a>
                        <a href="/blog.html"> Blog </a>
                        <a href="/contact.html"> Contact </a>
                    </nav>
                </div>
            </section>
        </footer>
        <section>
            <h5> Copyright &#169 2022 | ALLACreativeStudio </h5>
        </section>

        <!------------------------- Script Tags ------------------------->



    </body>

</html>