<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <!------------------------- Nav bar ------------------------->
    <header class="grid-middle padded-sm sm-padded">
        <div class="col-5">
            <a href="/index.html">
                <h1> Lucian Baba </h1>
            </a>
        </div>
        <div class="col-2 center">
            <a href="/ro/index.html"> RO </a> | <a href="/index.html"> EN </a>
        </div>
        <div class="col-5 right mob-hide">
            <nav>
                <a href="/index.html"> Home </a>
                <a href="/about.html"> About </a>
                <div class="dropdown">
                    <a href="/services.html"> Services </a>
                    <div class="dropdown-content">
                        <a href="/services/individual-therapy.html"> Individual Therapy </a>
                        <a href="/services/pshilosophical-advisor.html"> Pshilosophical Advisor </a>
                        <a href="/services/psyco-oncology.html"> Psycho-Oncology </a>
                        <a href="/services/personal-development.html"> Personal Development </a>
                        <a href="/services/art-therapy.html"> Art Therapy </a>
                        <a href="/services/text-therapy.html"> Therapy Through Text </a>
                    </div>
                </div>
                <a href="/blog.html"> Blog </a>
                <a href="/contact.html"> Contact </a>
            </nav>
        </div>

        <!------------------------- Burger Menu ------------------------->

        <div class="col-5 right">
            <button class="burger mob-show"></button>
        </div>
        <div class="col-12 left mobile-menu padded-tb">
            <nav>
                <a href="/index.html"> Home </a> <hr>
                <a href="/about.html"> About </a> <hr>
                <a href="/services.html"> Services </a> <hr>
                <div class="dropdown-content-burger">
                    <a href="/services/individual-therapy.html"> Individual Therapy </a> <hr>
                    <a href="/services/pshilosophical-advisor.html"> Pshilosophical Advisor </a> <hr>
                    <a href="/services/psyco-oncology.html"> Psycho-Oncology </a> <hr>
                    <a href="/services/personal-development.html"> Personal Development </a> <hr>
                    <a href="/services/art-therapy.html"> Art Therapy </a> <br> <hr>
                    <a href="/services/text-therapy.html"> Therapy Through Text </a> <hr>
                </div>
                <a href="/blog.html"> Blog </a> <hr>
                <a href="/contact.html"> Contact </a> <hr>
            </nav>
        </div>
    </header>

    <!------------------------- Body ------------------------->
    <body>
        <section class="background-img bg-overlay">

            {{content}}

        </section>

        <!------------------------- Script tags ------------------------->

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
        </script>

        <script type="text/javascript" id="cookiebanner"
            src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js"
            data-moreinfo="/cookie.html"></script>

        <script
            type="text/javascript"
            src="/script.js">
        </script>

    </body>

</html>